<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.wppiotrek.wydatki"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"        
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TransactionsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_transactions" 
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activities.InvokeTransactionActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_transactions" 
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activities.CategoriesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_categories" />
        <activity
            android:name=".activities.AttributesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_parameters" />
        <activity
            android:name=".activities.ProjectsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_parameters" />        
        
        <activity
            android:name=".activities.edit.EditAccountActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_parameters" />
        <activity
            android:name=".activities.edit.EditProjectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_parameters" />
        
        
        <activity
            android:name=".activities.PreferencesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_parameters" />
        <activity
            android:name=".activities.RecurActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_parameters" />        
        <activity
            android:name=".activities.edit.EditParameterActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_parameters" />
        <activity
            android:name=".activities.UnitActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_parameters" />
        <activity
            android:name=".activities.ShopingListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_parameters" />
        <activity
            android:name=".activities.edit.EditCategoryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_parameters" />
        <activity
            android:name=".activities.CalculatorInput"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/title_activity_parameters" />
        <activity
            android:name=".activities.TransactionDetailsInput"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/title_activity_parameters" />               
    </application>

</manifest>